<div class="item-plain">
    <button style="position: absolute; z-index: 1" onclick="{{ctx 'close_item_plain()'}}">Fermer</button>
    <div class="details-panel">
        <h1 id="item-title">{{item.name}}</h1>
        <p id="item-size">{{item_size}}</p>
        <p id="item-mime-type">{{item.mimetype}}</p>
    </div>
    <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center" id="item-content">
        {{item_image item}}
    </div>
</div>