div.outliner
    if (session_data.user)
        div.hseparator
        div.category
            p Mes dépôts
            if (session_data.user.can_create_repos())
                button(onclick='create_repos.open_create_repos_modal()').plus-button +
        div.hseparator
        div.repos-list
            each repos in session_data.user.repos
                if locals.session_data.selected_repos && locals.session_data.selected_repos.id === repos.id
                    button(onclick="window.location.href = '/repos/?repos=" + repos.access_key + "'").selected-repos #{repos.name}
                else
                    button(onclick="window.location.href = '/repos/?repos=" + repos.access_key + "'") #{repos.name}

    div.hseparator
    div.category
        p Dépôts suivis
    div.hseparator
    div.repos-list
        each repos in session_data.tracked_repos
            if locals.session_data.selected_repos && locals.session_data.selected_repos.id === repos.repos.id
                button(onclick="window.location.href = '/repos/?repos=" + repos.repos.access_key + "'").selected-repos #{repos.repos.name}
            else
                button(onclick="window.location.href = '/repos/?repos=" + repos.repos.access_key + "'") #{repos.repos.name}

    div.hseparator
    div.category
        p Dépôts publiques
    div.hseparator
    div.repos-list
        each repos in public_data.repos_list
            if locals.session_data.selected_repos && locals.session_data.selected_repos.id === repos.id
                button(onclick="window.location.href = '/repos/?repos=" + repos.access_key + "'").selected-repos #{repos.name}
            else
                button(onclick="window.location.href = '/repos/?repos=" + repos.access_key + "'") #{repos.name}

if locals.force_open_create_repos
    script(type='module').
        create_repos.open_create_repos_modal()