extends layout

block content
    if (!locals.user)
        p Bienvenue sur FileShare
    else
        link(rel='stylesheet', href='/stylesheets/fileshare/user-viewport.css')
        div.user-viewport
            div.repos-view
                p Mes dépôts
                div.repos-list
                    each repos in user.my_repos
                        button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'") #{repos.name}

                p Dépôts suivis
                div.repos-list
                    each repos in user.tracked_repos
                        button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'") #{repos.name}

                p Dépôts publiques
                div.repos-list
                    each repos in user.public_repos
                        button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'") #{repos.name}

            div.file-view
                p Chemin : '/'
                div.file-list
                    block files