block item-preview
    div.item-preview
        if item.mimetype.startsWith('image/')
            img(src="#{item.url}/thumbnail", alt="#{item.name}")
        else if item.mimetype === 'text/plain'
            img(src="https://img.icons8.com/?size=512&id=12053", alt="document")
        else if item.mimetype === 'application/pdf'
            img(src="https://img.icons8.com/?size=512&id=13417", alt="document")
        else if item.mimetype === 'application/octet-stream'
            img(src="https://img.icons8.com/?size=512&id=38992", alt="document")
        else if (item.mimetype.startsWith('video/'))
            img(src="#{item.url}/thumbnail", alt="#{item.name}")
            img(src="/images/icons/icons8-play-64.png", alt="play icon")
        else
            p #{item.name}
