div.repos-view
    if (session_data.user)
        div.separator
        p Mes dépôts
        div.separator
        div.repos-list
            each repos in session_data.user.repos
                if locals.session_data.selected_repos && locals.session_data.selected_repos.id === repos.id
                    button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'").selected-repos #{repos.name}
                else
                    button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'") #{repos.name}

    div.separator
    p Dépôts suivis
    div.separator
    div.repos-list
        each repos in session_data.tracked_repos
            if locals.session_data.selected_repos && locals.session_data.selected_repos.id === repos.id
                button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'", class='selected-repos') #{repos.name}
            else
                button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'") #{repos.name}

    div.separator
    p Dépôts publiques
    div.separator
    div.repos-list
        each repos in public_data.repos_list
            if locals.session_data.selected_repos && locals.session_data.selected_repos.id === repos.id
                button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'").selected-repos #{repos.name}
            else
                button(onclick="window.location.href = '/fileshare/repos/#{repos.access_key}'") #{repos.name}

    div.separator.last-separator

    if session_data.user && session_data.user.repos_edit_rights
        button(onclick='module.create_repos.open_create_repos_modal()').create-repos Nouveau dépot

if locals.force_open_create_repos
    script.
        module.create_repos.open_create_repos_modal()