<div class="repository-viewport">
    <div class="repository-toolbar" {{object "toolbar"}}>

    </div>
    <div class="mobile-selection" {{object "mobile_selection"}}>
        <button onclick="{{ctx "unselect_all()"}}"><img src="/public/images/icons/icons8-back-50.png" alt="back"><p {{object "num_elements"}}></p></button>
        <button class="more-btn" onclick="{{ctx "ctx_selection()"}}"><img src="/public/images/icons/icons8-ellipsis-90.png" alt="back"></button>
    </div>
    <div class="repository-content">
        <div class="file-list" oncontextmenu="{{ctx "background_context(event)"}}">
            <div class="content" {{object "content"}}>
            </div>
            <div class="footer" {{object "footer_text"}}>

            </div>
        </div>
        <div class="current-description">

        </div>
    </div>
    <div class="upload-container" {{object "upload_container"}}></div>
    <button class="upload-button" {{object "upload_button"}} onclick="{{ctx "open_upload()"}}"><img src="/public/images/icons/icons8-upload-file-96.png" alt="upload-to-cloud"></button>
    <div class="drop-box" {{object "drop_box"}}></div>
</div>