<h1>Modifier le dossier {{name}}</h1>
<form action="/directory/update/?directory={{id}}" method="post">
    <div class="field">
        <label for='name'>
            <input type="text" name="name" placeholder="Nom" id="name" required value="{{name}}">
        </label>
    </div>
    <div class="field">
        <label for='description'>
            <input type="text" name="description" placeholder="Description" id="description" value="{{description}}">
        </label>
    </div>
    <div class="field">
        <p>Ouvrir la mise en ligne de fichiers à tous : {{open_upload}}</p>
        <label for='open_upload'>
            <input type="checkbox" name="open_upload" id="open_upload" {{#if open_upload}}checked{{/if}}>
        </label>
    </div>
    <input type="submit" value="Valider">
</form>