<div class='object-button' onclick="{{ctx 'clicked(event)'}}" onmouseenter="{{ctx 'enter()'}}" onmouseleave="{{ctx 'leave()'}}" oncontextmenu="{{ctx 'context_menu(event)'}}">
    <button class="open-context-button" onclick="{{ctx 'context_menu(event)'}}">...</button>
    {{item_thumbnail item}}
    <p class="item-name">{{item.name}}</p>
</div>