<div class="item-plain">
    <button style="position: absolute; z-index: 1" onclick="{{ctx 'close_item_plain()'}}">Fermer</button>
    <div class="details-panel">
        <div class="head">
            <div class="stats">
                {{typeicon item.mimetype}}
                <p id="item-mime-type">{{item.mimetype}}</p>
                <p id="item-size">{{file_size}}</p>
            </div>
            <h1 id="item-title">{{item.name}}</h1>
        </div>
        <div id="file-action-buttons">
        </div>
        <div class="details">
            <p id="item-description">{{markdown item.description}}</p>
        </div>
    </div>
    <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center; overflow: auto" id="item-content">
        {{item_image item}}
    </div>
</div>