<div class="item-plain">
    <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center; overflow: auto"
         id="item-content">
        {{item_image item}}
    </div>

    <div id="file-overlay" class="overlay-displayed">
        <button class="show-next-item" onclick="{{ctx 'show_next_item(event)'}}">></button>
        <button class="show-previous-item" onclick="{{ctx 'show_previous_item(event)'}}"><</button>

        <div id="file-action-buttons">
        </div>
        <button class="floating-top-right cancel-button" onclick="{{ctx 'close_item_plain(event)'}}">X</button>
        <div class="details">
            <p id="item-description">{{markdown item.description}}</p>
        </div>
        <div class="details-panel">
            <div class="head">
                <div class="stats">
                    {{typeicon item.mimetype}}
                    <p id="item-mime-type">{{item.mimetype}}</p>
                </div>
                <h1 id="item-title">{{item.name}}</h1>
                <div class="stats">
                    <p id="item-size">{{file_size}}</p>
                </div>
            </div>
        </div>
    </div>
</div>